{% import 'macros/form_macros.html.twig' as form_macros %}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h4>{{ 'characteristics'|trans }}</h4>
    <a href="{{ path('nomenclature_characteristic_create') }}" class="btn btn-success-custom">
        <i class="fas fa-plus"></i> {{ 'create_characteristic'|trans }}
    </a>
</div>

{% if characteristics|length > 0 %}
    {% set table_headers = ['id', 'name', 'available_values_count', 'created_at'] %}
    {% set table_actions = {
        'edit_route': 'nomenclature_characteristic_edit',
        'delete_route': 'nomenclature_characteristic_delete'
    } %}
    
    {% set table_rows = [] %}
    {% for characteristic in characteristics %}
        {% set table_rows = table_rows|merge([{
            'id': characteristic.id,
            'name': characteristic.name,
            'cells': [
                '<strong>' ~ characteristic.id ~ '</strong>',
                characteristic.name,
                '<span class="badge bg-primary">' ~ characteristic.availableValues|length ~ '</span>',
                characteristic.createdAt|date('Y-m-d H:i')
            ]
        }]) %}
    {% endfor %}
    
    {{ form_macros.data_table(table_headers, table_rows, table_actions) }}
{% else %}
    {{ form_macros.empty_state('no_characteristics_found', 'nomenclature_characteristic_create', 'create_first_characteristic') }}
{% endif %}
