{% extends 'base.html.twig' %}

{% import 'macros/form_macros.html.twig' as form_macros %}

{% block title %}{{ 'nomenclature_management'|trans }} - {{ 'admin_panel'|trans }}{% endblock %}

{% block body %}
{{ form_macros.page_header('nomenclature_management', null, null, 'fas fa-tags') }}

<ul class="nav nav-tabs" id="nomenclatureTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="characteristics-tab" data-bs-toggle="tab" data-bs-target="#characteristics" type="button" role="tab">
            <i class="fas fa-list"></i> {{ 'characteristics'|trans }}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="available-values-tab" data-bs-toggle="tab" data-bs-target="#available-values" type="button" role="tab">
            <i class="fas fa-tags"></i> {{ 'available_values'|trans }}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="nomenclatures-tab" data-bs-toggle="tab" data-bs-target="#nomenclatures" type="button" role="tab">
            <i class="fas fa-boxes"></i> {{ 'nomenclatures'|trans }}
        </button>
    </li>
</ul>

<div class="tab-content" id="nomenclatureTabContent">
    <div class="tab-pane fade show active" id="characteristics" role="tabpanel">
        {% include 'nomenclature/_characteristics_tab.html.twig' with {'characteristics': allCharacteristics} %}
    </div>

    <div class="tab-pane fade" id="available-values" role="tabpanel">
        {% include 'nomenclature/_available_values_tab.html.twig' with {'availableValues': allAvailableValues} %}
    </div>

    <div class="tab-pane fade" id="nomenclatures" role="tabpanel">
        {% include 'nomenclature/_nomenclatures_tab.html.twig' with {
            'nomenclatures': nomenclatures,
            'characteristics': characteristics,
            'nomenclatureData': nomenclatureData
        } %}
    </div>
</div>

{% block javascript %}{% endblock %}
{% endblock %}
