{% extends 'base_form.html.twig' %}

{% import 'macros/form_macros.html.twig' as form_macros %}

{% block title %}{{ 'edit_color'|trans }} #{{ record.id }} - {{ 'admin_panel'|trans }}{% endblock %}

{% set page_title = 'edit_color' %}
{% set page_icon = 'fas fa-edit' %}
{% set form_title = 'edit_color_information' %}
{% set back_route = 'color_index' %}
{% set back_label = 'back_to_colors' %}
{% set submit_label = 'update_color' %}
{% set item = record %}

{% block form_fields %}
    {{ form_macros.form_row([form.color, form.hexColorNumber]) }}
    {{ form_macros.form_row([form.saturation, form.palette]) }}
{% endblock %}

{% block additional_content %}
    <div class="card mt-3">
        <div class="card-header">
            <h6 class="mb-0">{{ 'color_preview'|trans }}</h6>
        </div>
        <div class="card-body text-center">
            <div class="color-preview mx-auto" style="background-color: {{ record.hexColorNumber }}; width: 150px; height: 75px; border-radius: 8px; border: 2px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,0.1);"></div>
            <p class="mt-2 mb-0">
                <code class="bg-light px-2 py-1 rounded">{{ record.hexColorNumber }}</code>
            </p>
        </div>
    </div>
{% endblock %}
